extends nav

append styles
	style.
		

block content
	div.content.is-large
		h1 Welcome to my Page!
	
	div.content.is-large While this page is mostly just a launch page for my other works. I wanted to also just throw out some things about me and mine. I am 25 years old, finally trying to finish college. My main inspiration for doing so is my wife, Lindsey, and my son, Henry. They are my bright point of light in a sea of darkness. Without them I have no idea where I would be. So in order to support and provide for them I am working a full-time job, going to school full-time, and trying to squeeze in a little time to see them.
	div.content.is-large So there are two addition pages on this server. One is for a twitter application I put together. The other is a online resume I built for myself. Enjoy and take your time!
	img(src="/images/L_I_wedding.jpg", alt="Lindsey and I at Our Wedding")
	img(src="/images/H_I_wedding.jpg", alt="Henry and I")