doctype
html
	head
		meta(charset='UTF-8')
		//- Used for the response stuff in Bulma
		meta(name='viewport', content='width=device-width, initial-scale=1')
		block title
			title Welcome to my page!
		
		//- Bulma, taken with ❤️ from bulma.io
		link(rel='stylesheet', href='/css/bulma/css/bulma.css')
		
		//- Used for icons, this is optional
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

		block styles
			style.
				body {
					text-align: center;
				}
				.hidden{
					display: none;
				}

	body
		block mainContent