extends layout

block title
	title Billy Janson's Page

block mainContent
	div.container
		nav.navbar.is-light
			div.navbar-brand
				h1.navbar-item Billy's Website
			div.navbar-menu.is-active
				a.navbar-item(href ='/') Home
				a.navbar-item(href='/resume') Resume
		section.section
			block content