extends layout

block title
	title ${User}'s Resume

append styles

		

block mainContent
	div.container
		nav.navbar.is-light
			div.navbar-brand
				h1.navbar-item ${User}'s Website
			div.navbar-menu.is-active
				a.navbar-item(href ='/') Home
				a.navbar-item(href='/resume') Resume
				a.navbar-item(href='/docs/Billy\'s-Resume.pdf') Printer Friendly PDF
		section.section
			div.content.is-large
				h1 {User's Information}
