extends layout

block title
	title Billy's Resume

append styles

		

block mainContent
	div.container
		nav.navbar.is-light
			div.navbar-brand
				h1.navbar-item Billy's Website
			div.navbar-menu.is-active
				a.navbar-item(href ='/') Home
				a.navbar-item(href='/twlogin') Twitter
				a.navbar-item(href='/resume') Resume
				a.navbar-item(href='/docs/Billy\'s-Resume.pdf') Printer Friendly PDF
		section.section
			div.content.is-large
				h1 Billy Janson
				div 2310 W Chesterfield St. Apt E104
				div Springfield, MO 65807
				div Phone: (417)686-0151
				div E-mail: William9292@gmail.com
				h1 Summary
				div I am a full time student trying to get my foot in the door at a local company, working in either their cyber security or software development departments. I am hardworking and dependable and willing to do what I can to learn my trade. Furthermore, I work well in groups as well as on my own. 
				h1 Education:
				div <b> Missouri State University: </b>
				div Major: Computer Science
				div Minors: Mathematics and CyberSecurity
				div Institutional GPA: 3.47
				h1 Work Experience:
				h2 School Bus Driver: Springfield Public Schools, July 2016 – Current
				div Responsible for the safe transport of children from Home to School and back.
				h2 Banquet Captain: Tower Club, July 2014 – July 2016
				div Responsible for taking care of customers ever need and making sure that they enjoy their banquet, was own cashier, responsible for turning in correct amount due at end of shift, supervised other servers on banquet.
				h1 Activies and Hobbies:
				div Member of the Ancient, Free, and Accepted Masonic Fraternity.
				div Academic Integrity Matters Student Organization, President 2017.
				div MSU Chapter of Association of Computing Machinery, Member 2016 – Current.
				div Weekly creativity and conflict resolution exercises with friends and co-workers.
				h1 Skills:
				div Python, C++, Javascript, HTML, CSS computer language.
				div High level mathematics skills, Calc I.
				div A very outgoing personality and a willingness to help others out with a beautiful smile :) 
